#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_install:
	# Application
	mkdir -p debian/argus-rag-studio-agent/opt/argus-rag-studio-agent
	cp -r app debian/argus-rag-studio-agent/opt/argus-rag-studio-agent/

	# Install Python dependencies
	pip3 install --root=debian/argus-rag-studio-agent --prefix=/opt/argus-rag-studio-agent --no-deps .

	# Entry points
	mkdir -p debian/argus-rag-studio-agent/opt/argus-rag-studio-agent/bin
	install -m 755 scripts/argus-rag-studio-agent debian/argus-rag-studio-agent/opt/argus-rag-studio-agent/bin/argus-rag-studio-agent
	install -m 755 scripts/argus-rag-studio-sysmon debian/argus-rag-studio-agent/opt/argus-rag-studio-agent/bin/argus-rag-studio-sysmon
	install -m 755 scripts/argus-rag-studio-yum debian/argus-rag-studio-agent/opt/argus-rag-studio-agent/bin/argus-rag-studio-yum
	install -m 755 scripts/argus-rag-studio-host debian/argus-rag-studio-agent/opt/argus-rag-studio-agent/bin/argus-rag-studio-host
	install -m 755 scripts/argus-rag-studio-user debian/argus-rag-studio-agent/opt/argus-rag-studio-agent/bin/argus-rag-studio-user
	install -m 755 scripts/argus-rag-studio-cert debian/argus-rag-studio-agent/opt/argus-rag-studio-agent/bin/argus-rag-studio-cert
	install -m 755 scripts/argus-rag-studio-file debian/argus-rag-studio-agent/opt/argus-rag-studio-agent/bin/argus-rag-studio-file
	install -m 755 scripts/argus-rag-studio-process debian/argus-rag-studio-agent/opt/argus-rag-studio-agent/bin/argus-rag-studio-process
	install -m 755 scripts/argus-rag-studio-metric debian/argus-rag-studio-agent/opt/argus-rag-studio-agent/bin/argus-rag-studio-metric

	# Config
	mkdir -p debian/argus-rag-studio-agent/etc/argus-rag-studio-agent
	install -m 640 packaging/config/config.yml debian/argus-rag-studio-agent/etc/argus-rag-studio-agent/config.yml
	install -m 640 packaging/config/config.properties debian/argus-rag-studio-agent/etc/argus-rag-studio-agent/config.properties

	# Directories
	mkdir -p debian/argus-rag-studio-agent/var/log/argus-rag-studio-agent
	mkdir -p debian/argus-rag-studio-agent/var/lib/argus-rag-studio-agent
